.DS_Store
backend/db.sqlite3
backend/fantasyBasketballWizard/__pycache__/__init__.cpython-35.pyc
backend/fantasyBasketballWizard/__pycache__/settings.cpython-35.pyc
backend/fantasyBasketballWizard/__pycache__/urls.cpython-35.pyc
backend/fantasyBasketballWizard/__pycache__/wsgi.cpython-35.pyc
backend/wizard/__pycache__/__init__.cpython-35.pyc
backend/wizard/__pycache__/admin.cpython-35.pyc
backend/wizard/__pycache__/apps.cpython-35.pyc
backend/wizard/__pycache__/models.cpython-35.pyc
backend/wizard/__pycache__/serializers.cpython-35.pyc
backend/wizard/__pycache__/views.cpython-35.pyc
backend/wizard/migrations/__pycache__/0001_initial.cpython-35.pyc
backend/wizard/migrations/__pycache__/__init__.cpython-35.pyc
backend/fantasyBasketballWizard/__pycache__/__init__.cpython-37.pyc
backend/fantasyBasketballWizard/__pycache__/settings.cpython-37.pyc
backend/fantasyBasketballWizard/__pycache__/__init__.cpython-37.pyc
backend/fantasyBasketballWizard/__pycache__/urls.cpython-37.pyc
backend/fantasyBasketballWizard/__pycache__/wsgi.cpython-37.pyc
backend/wizard/__pycache__/admin.cpython-37.pyc
backend/wizard/__pycache__/apps.cpython-37.pyc
backend/wizard/__pycache__/models.cpython-37.pyc
backend/wizard/__pycache__/serializers.cpython-37.pyc
backend/wizard/__pycache__/views.cpython-37.pyc
.vscode/settings.json
backend/wizard/migrations/__pycache__/0002_auto_20180827_0048.cpython-37.pyc
backend/wizard/migrations/__pycache__/0001_initial.cpython-37.pyc
backend/wizard/migrations/__pycache__/0003_day_numberofgames.cpython-37.pyc
backend/wizard/migrations/__pycache__/__init__.cpython-37.pyc
backend/wizard/utils/__pycache__/scheduler.cpython-37.pyc
backend/wizard/utils/__pycache__/dataUtil.cpython-37.pyc
backend/wizard/migrations/0004_game_week.py
backend/wizard/migrations/__pycache__/0004_game_week.cpython-37.pyc
backend/wizard/migrations/0003_auto_20180923_0933.py
backend/wizard/migrations/0001_initial.py
backend/wizard/migrations/0002_auto_20180923_0906.py
backend/wizard/migrations/0004_auto_20180923_0934.py
backend/wizard/migrations/0005_auto_20180923_0936.py
backend/wizard/migrations/__init__.py
backend/wizard/migrations/__pycache__/0002_auto_20180923_0906.cpython-37.pyc
backend/wizard/migrations/__pycache__/0003_auto_20180923_0933.cpython-37.pyc
backend/wizard/migrations/__pycache__/0004_auto_20180923_0934.cpython-37.pyc
backend/wizard/migrations/__pycache__/0005_auto_20180923_0936.cpython-37.pyc
backend/wizard/migrations/0006_auto_20180929_0233.py
backend/wizard/migrations/__pycache__/0006_auto_20180929_0233.cpython-37.pyc
backend/wizard/migrations/0007_use_timezone.py
backend/wizard/migrations/__pycache__/0007_use_timezone.cpython-37.pyc
backend/wizard/migrations/0008_auto_20181003_2104.py
backend/wizard/migrations/0009_auto_20181003_2149.py
backend/wizard/migrations/__pycache__/0008_auto_20181003_2104.cpython-37.pyc
backend/wizard/migrations/__pycache__/0009_auto_20181003_2149.cpython-37.pyc
